*{
  padding: 0;
  margin: 0;
  transition: 1s linear ease-in-out;
  /* border: 1px solid rgba(0,0,0,0.1); */
}
body{
   background-color: rgb(191, 120, 120);
   height:1000px;
   transition:1s;  
}

.navbar{
  
  height: fit-content !important;
 position:sticky !important;
 top:1px;
  padding-bottom: 15px !important;
  padding-top: 25px !important;
  border-radius:1px solid rgba(0,0,0,0.1);
  display: flex;
  background-color: rgba(255, 255, 255, 0.863) !important;
  background-image: linear-gradient(
     120deg,
     #ffffff  30%,
     #99909900 70%
   );
  justify-items: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 1px 3em 2px rgba(0, 0, 0, 0.484);
  z-index: 1;
}

.brand-name{

  font-weight: 900;
  font-size: 40px;
  color: rgb(161, 31, 31);
  padding-right:10px;
  padding-left:10px;
  width: 60%;

}

.menu-item .nav-item {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding:5px;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 5px;

}
.menu-item .nav-item :hover,
.menu-item .nav-item :focus{
 background-color: rgb(161, 31, 31);
 color: white !important;
}

.OpenOfcanvas{
  display: none;
  z-index: 1;
  position: fixed;
  left: 85%;
  bottom:70%;
  background-color: rgba(213, 34, 34, 0.319);
  border-radius: 50%;
  padding:18px 5px;
  border: none;
  box-shadow:  0 1px 3em 2px rgba(0,0,0,0.1);
 }
 .backToTop{

  z-index: 1;
  position: fixed;
  left: 95%;
  bottom:15%;
  background-color: rgba(80, 77, 77, 0.597);
  border-radius: 10%;

  border: none;
  box-shadow: 0 1px 3em 2px rgba(0,0,0,0.1);
 }
 .offcanvas-header{
  display:flex;
  flex-direction: column-reverse;
 }
 .offcanvas-header .btn-close{
  border-radius: 0px 0px 30px 30px;
  background-color: rgb(202, 37, 37);
  padding: 20px 20px;
 }
 @media screen and (max-width: 830px) {
      .OpenOfcanvas{
        display: block;
      }
      .backToTop{

        display:none;
       }
 }